<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>

<body>
<ons-page>
    <ons-toolbar>
      <div class="center">Pokedex 1st gen</div>
    </ons-toolbar>
  
    <ons-list>
      <ons-list-header>Pokedex</ons-list-header>
      <ons-list-item expandable>
        001--Bulbasur
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        002--Ivisaur
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        003--Venusaur
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
       
      <ons-list-item expandable>
        004--Charmander
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        005--Charmelion
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        006--Charizard
        <div class="expandable-content">Fuego Volador</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        007--Squirtle
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        008--Wartortle
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        009--Blastoise
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        010--Caterpie
        <div class="expandable-content">Bicho</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        011--Metapod
        <div class="expandable-content">Bicho</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        012--Butterfree
        <div class="expandable-content">Bicho Vuelo</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        013--Weedle
        <div class="expandable-content">Bicho Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        014--Kakuna
        <div class="expandable-content">Bicho Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        015--Beedril
        <div class="expandable-content">Bicho Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        016--Pidgey
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        017--Pidgeotto
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        018--Pidgeot
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        019--Rattata
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        020--Raticade
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        021--Spearow
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        022--Fearow
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        023--Ekans
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        024--Arbok
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        025--Pikachu
        <div class="expandable-content">Electrico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        026--Raichu
        <div class="expandable-content">Electrico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        027--Sandshrew
        <div class="expandable-content">Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        028--Sandslash
        <div class="expandable-content">Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        029--Nidoran♀
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        030--Nidorina
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        031--Nidoqueen
        <div class="expandable-content">Veneno Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        032--Nidoran♂
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        033--Nidorino
        <div class="expandable-content">Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        034--Nidoking
        <div class="expandable-content">Veneno Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        035--Clefairy
        <div class="expandable-content">Hada</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        036--Clefable
        <div class="expandable-content">Hada</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        037--Vulpix
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        038--Ninetales
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        039--Jigglypuff
        <div class="expandable-content">Normal Hada</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        040--Wigglytuff
        <div class="expandable-content">Normal Hada</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        041--Zubat
        <div class="expandable-content">Veneno Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        042--Golbat
        <div class="expandable-content">Veneno Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        043--Odish
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        044--Gloom
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        045--Vileplume
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        046--Paras
        <div class="expandable-content">Bicho Planta</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        047--Parasect
        <div class="expandable-content">Bicho Planta</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        048--Venonat
        <div class="expandable-content">Bicho Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        049--Venomoth
        <div class="expandable-content">Bicho Veneno</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        050--Diglett
        <div class="expandable-content">Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        051--Dugtrio
        <div class="expandable-content">Tierra</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        052--Meowth
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        053--Persian
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        054--Psyduck
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        055--Golduck
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        056--Mankey
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        057--Primeape
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        058--Growlithe
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        059--Arcanine
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        060--Poliwag
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        061--Poliwhirl
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        062--Poliwrath
        <div class="expandable-content">Agua Lucha</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        063--Abra
        <div class="expandable-content">Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        064--Kadabra
        <div class="expandable-content">Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        065--Alakazam
        <div class="expandable-content">Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        066--Machop
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        067--Machoke
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        068--Machamp
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        069--Bellsprout
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        070--Weepingbell
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        071--Victribell
        <div class="expandable-content">Planta Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        072--Tentacool
        <div class="expandable-content">Agua Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        073--Tentacruel
        <div class="expandable-content">Agua Veneno</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        074--Geodude
        <div class="expandable-content">Roca Tierra</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        075--Graveler
        <div class="expandable-content">Roca Tierra</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        076--Golem
        <div class="expandable-content">Roca Tierra</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        077--Ponyta
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        078--Rapidash
        <div class="expandable-content">Fuedo</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        079--Slowpoke
        <div class="expandable-content">Agua Psiquico</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        080--Slowbro
        <div class="expandable-content">Agua Psiquico</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        081--Magnemite
        <div class="expandable-content">Electico Acero</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        082--Magnetone
        <div class="expandable-content">Electrico Acero</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        083--Farfetch'd
        <div class="expandable-content">Normal Volador</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        084--Doduo
        <div class="expandable-content">Normal Volador </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        085--Dodrio
        <div class="expandable-content">Normal </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        086--Seel
        <div class="expandable-content">Agua </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        087--Dewgong
        <div class="expandable-content">Agua Hielo</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        088--Grimer
        <div class="expandable-content">Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        089--Muk
        <div class="expandable-content">Veneno </div>
      </ons-list-item>
     
     <ons-list-item expandable>
        090--Shellder
        <div class="expandable-content">Agua </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        091--Cloyster
        <div class="expandable-content">Agua Hielo</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        092--Gastly
        <div class="expandable-content">Fantasma Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        093--Haunter
        <div class="expandable-content">Fantasma Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        094--Gengar
        <div class="expandable-content">Fantasma Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        095--Onix
        <div class="expandable-content">Roca Tierra</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        096--Drowzee
        <div class="expandable-content">Psiquico </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        097--Hypno
        <div class="expandable-content">Psiquico </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        098--Krabby
        <div class="expandable-content">Agua </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        099--Kingler
        <div class="expandable-content">Agua </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        100--Voltorb
        <div class="expandable-content">Electrico </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        101--Electrode
        <div class="expandable-content">Electrico </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        102--Exeggcute
        <div class="expandable-content">Planta Psiquico </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        103--Exegutor
        <div class="expandable-content">Planta Psiquico</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        104--Cubone
        <div class="expandable-content">Tierra </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        105--Marowak
        <div class="expandable-content">Tierra</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        106--Hitmolee
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        107--Hitmochan
        <div class="expandable-content">Lucha</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        108--Licktung
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        109--Koffing
        <div class="expandable-content">Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        110--Weezing
        <div class="expandable-content">Veneno </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        111--Rhyhorn
        <div class="expandable-content"> Tierra Roca</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        112--Rhydon
        <div class="expandable-content">Tierra Roca </div>
      </ons-list-item>
     
      <ons-list-item expandable>
        113--Chansey
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        114--Tangela
        <div class="expandable-content">Planta</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        115--Kangaskhan
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        116--Horsea
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        117--Seadra
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        118--Goldeen
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        119--Seaking
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
      <ons-list-item expandable>
        120--Staryu
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        121--Starmie
        <div class="expandable-content">Agua Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        122--Mr.Mime
        <div class="expandable-content">Psiquico Hada</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        123--Scyther
        <div class="expandable-content">Bicho Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        124--Jynx
        <div class="expandable-content">Hielo Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        125--Electabuzz
        <div class="expandable-content">Electrico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        126--Magmar
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        127--Pinsir
        <div class="expandable-content">Bicho</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        128--Tauros
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        129--Magikarp
        <div class="expandable-content">Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        130--Gyarados
        <div class="expandable-content">Agua Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        131--Lapras
        <div class="expandable-content">Agua Hielo</div>
      </ons-list-item>
     
        <ons-list-item expandable>
        132--Ditto
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        133--Eevee
        <div class="expandable-content">Normal</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        134--Vaporeon
        <div class="expandable-content">Agua</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        135--Jolteon
        <div class="expandable-content">Electrico</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        136--Flareon
        <div class="expandable-content">Fuego</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        137--Porygon
        <div class="expandable-content">Normal</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        138--Omanyte
        <div class="expandable-content">Roca Agua</div>
      </ons-list-item>
  
     <ons-list-item expandable>
        139--Omastar
        <div class="expandable-content">Roca Agua</div>
      </ons-list-item>
   
     <ons-list-item expandable>
        140--Kabuto
        <div class="expandable-content">Roca Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        141--Kabutops
        <div class="expandable-content">Roca Agua</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        142--Aerodactyl
        <div class="expandable-content">Roca Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        143--Snorlax
        <div class="expandable-content">Normal</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        144--Articuno
        <div class="expandable-content">Hielo Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        145--Zapdos
        <div class="expandable-content">Electrico Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        146--Moltres
        <div class="expandable-content">Fuego Voldaor</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        147--Dratini
        <div class="expandable-content">Dragon</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        148--Dragonair
        <div class="expandable-content">Dragon</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        149--Dragonite
        <div class="expandable-content">Dragon Volador</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        150--Mewtwo
        <div class="expandable-content">Psiquico</div>
      </ons-list-item>
     
     <ons-list-item expandable>
        151--Mew
        <div class="expandable-content">Psiquico</div>
      </ons-list-item>
  </ons-page>
</body>
